[tool.poetry]
name = "citybussin"
version = "0.0.1a2"
description = ""
authors = ["Eric Park <me@ericswpark.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
requests = "^2.32.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
