@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    backdrop-filter: blur(1px);
}

.chat-container {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    position: fixed;
    align-items: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 60px;
    max-width: 600px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.chat-input {
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    color: black;
    flex-grow: 2;
    margin-right: 10px;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-input::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.icon-btn {
    background: linear-gradient(145deg, #00B0F0, #00D4FF);
    border: none;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.icon-btn:hover {
    background: linear-gradient(145deg, #ff66b2, #ff1a75);
    box-shadow: 0 8px 20px rgba(255, 102, 178, 0.4);
}

.icon-btn:active {
    transform: scale(1.1);
}

.recorder_wrapper {
    display: none;
}

@media (max-width: 768px) {
    .chat-container {
        max-width: 90%;
        padding: 8px;
    }
    .chat-input {
        font-size: 14px;
    }
    .icon-btn {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .chat-container {
        max-width: 100%;
        padding: 5px;
    }
    .chat-input {
        font-size: 12px;
    }
    .icon-btn {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}