[tool.poetry]
name = "ctrutils"
version = "0.1.4"
description = "Libreria de utilidades varias"
authors = ["CristianTacoronteRivero <tacoronteriverocristian@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"


[tool.poetry.group.dev.dependencies]
isort = "^5.13.2"
mypy = "^1.12.1"
pylint = "^3.3.1"
flake8 = "^7.1.1"
black = "^24.10.0"
pre-commit = "^4.0.1"
ipykernel = "^6.29.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
