[atlas]
# path = /gpfs/bbp.cscs.ch/project/proj148/scratch/circuits/20240531/.atlas
path = /gpfs/bbp.cscs.ch/data/project/proj135/home/petkantc/atlas/atlas_aleksandra/atlas-release-mouse-barrels-density-mod
regions = brain_regions
hierarchy = hierarchy.json

[morphologies]
path = /gpfs/bbp.cscs.ch/data/project/proj135/home/petkantc/morpho/all_morphs_final
# path = /gpfs/bbp.cscs.ch/project/proj82/home/petkantc/morpho/MOp5
hierarchy_level = 12

[compare_source_regions]
skip_comparison = True
manual_annotation_path = /gpfs/bbp.cscs.ch/data/project/proj135/home/petkantc/axon/axonal-projection/axon_projection/out_a_p_12_obp_atlas/ap_check_12.csv
# manual_annotation_path = /gpfs/bbp.cscs.ch/project/proj81/InputData/Morphologies/Neurons/Mouse/SSCx/WholeBrain/MouseLight_m_types.csv
# this is the column name of the cell name in the manual annotation file
col_name_id = morph_path
#Cell_ID
# this is the column name of the region in the manual annotation file
col_name_region = source_y
#Soma_Location
compare_on = source_x

[compare_axonal_projections]
skip_comparison = True
path_1 = /gpfs/bbp.cscs.ch/data/project/proj135/home/petkantc/axon/axonal-projection/axon_projection/out_a_p_final/axon_lengths_12.csv
path_2 = /gpfs/bbp.cscs.ch/data/project/proj135/home/petkantc/axon/axonal-projection/axon_projection/out_a_p_12_obp_atlas/axon_lengths_12.csv

[classify]
# number of processes for the classification task
n_jobs = 60
# the user can specify the desired number of mixture components for a source region
n_components = {}
# if true, the number of components with the best BIC is picked,
# otherwise draw one based on the BIC
best_BIC = True
# specify here the feature vectors file to use for clustering: axon_terminals or axon_lengths
feature_vectors_file = axon_lengths

[output]
path = /gpfs/bbp.cscs.ch/project/proj135/home/petkantc/axon/axonal-projection/axon_projection/out_a_p_final/

[random]
seed = 42

[connectivity]
skip_visualization = True
# below this probability of connection, the connection is not shown on the graph
min_prob = 0.01

[compare_morphometrics]
features = section_lengths, remote_bifurcation_angles, number_of_sections_per_neurite, terminal_path_lengths, section_term_branch_orders, section_path_distances, section_term_lengths, section_term_radial_distances

[separate_tufts]
# choose to cluster the tufts by:
# - 'region' (gather all terminals in a region, up to common ancestor)
# - 'sphere_parents' method from axon-synthesis (cluster by radial+path length distance)
clustering_method = sphere_parents
# if this is true, plot the tufts and trunks to 3D html figures as well
plot_debug = False
# the optional morphometrics to compute and output from the trunks, if clustering by region
trunk_morphometrics = segment_lengths
cluster_tufts = True

[sample_axon]
source_regions = '*'
params_file = clustering_output.csv
regions_file = axon_lengths_8.csv
tufts_file = tufts_df.csv
n_samples = 0

[validation]
# if true, we sample axons from the GMMs and plot their projections
verify_classification = False
# if true, we don't re-run classification on the sampled axons
reuse_clusters = True
synth_axons_path = /gpfs/bbp.cscs.ch/project/proj82/home/petkantc/axon/axonal-projection/axon_projection/out_isocortex
