* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.form-control {
    scroll-margin-top: 10rem;
}

.editor-check-input {
    position: relative;
    top: .3rem;
}

.editor-check {
    padding-left: 0;
}

.je-switcher {
    padding: .25rem 2.25rem .25rem .75rem !important;
    margin-bottom: .25rem !important;
}

.card-title {
    margin-bottom: 0;
}

.user-add {
    display: inline-block;
    font-weight: bolder;
}

/* small */
@media (max-width: 992px) {
    #action-dropdown-group {
        width: 100%;
    }

    #action-container-group>button {
        width: 40%;
    }
}

/* large */
@media (min-width: 992px) {
    #action-dropdown-group {
        width: auto;
    }

    #action-container-group>button {
        width: 12%;
    }
}

.menu-primary:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.menu-success:hover {
    background-color: var(--bs-success);
    color: var(--bs-white);
}

.menu-danger:hover {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.btn-close {
    transform: scale(0.75);
}

#action-container-group {
    padding: 0;
}

#json-preview {
    font-family: monospace;
    height: 25rem;
}